*{
    font-family: sans-serif;
    box-sizing: border-box;
}

.header{
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
}

.headerlogo{
 color: white;
 align-self: center;
 font-size: 24px;
}

ul{
    display: flex;
    font-size: 18px;
    color: white;
    gap: 15px;
    text-decoration: none;
    list-style: none;
}

li{
    text-decoration: none;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

.heroandimage{
    display: flex;
    padding: 100px;
    text-wrap: wrap;
    flex-basis: 1;
    gap: 300px;
    background-color: #1f2937;
}

.leftside{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.section1title{
    font-size: 48px;
    font-weight: bolder;
    color: white;
    margin: 0;
}

.insetinfo{
    color: white;
    margin: 0;
    margin: 5px, 0, 5px, 0
}

button.duck{
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 12px;
}

.header2{
   text-align: center;
   font-size: 36px;
   color: #1f2937;
   font-weight: bolder;
}

.picsandsubtext{
    display: flex;
    justify-content: space-evenly;
    padding: 30px, 40px, 30px, 40px;
    gap: 10px;
    text-align: center;
    flex-wrap: wrap;
}

.ddg{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.yahoo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.askjeeves{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.google{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.section2{
    background-color: aqua;
}

.section3{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 60px;
}

.quote{
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

.attribution{
    align-self: flex-end;
    font-weight: bolder;
    font-size: 24px;

}

.section4{
    padding: 50px 200px;
}
.calltoaction{
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    padding: 20px 160px 20px 40px;
    border-radius: 12px;
    flex-wrap: wrap;
}

.title{
    font-weight: bolder;
    font-size: large;
    margin-bottom: 0;
    color: white;
}

.left{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.blurb{
    margin-top: 0;
    color: white;
}

.thisone{
    height: 40px;
    width: 120px;
    align-self: center;
    color: white;
    background-color: #3882f6;
    box-shadow: none;
    border: solid 2px white;
    border-radius: 12px;
    margin-bottom: 0;
}

.thatone{
    height: 40px;
    align-self: center;
}