*{
    font-family: sans-serif;
    box-sizing: border-box;
}

.header{
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
}

.headerlogo{
 color: white;
 align-self: center;
 font-size: 24px;
}

ul{
    display: flex;
    font-size: 18px;
    color: white;
    gap: 15px;
    text-decoration: none;
    list-style: none;
}

li{
    text-decoration: none;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

.heroandimage{
    display: flex;
    padding: 100px;
    text-wrap: wrap;
    flex-basis: 1;
    gap: 300px;
    background-color: #1f2937;
}

.leftside{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.section1title{
    font-size: 48px;
    font-weight: bolder;
    color: white;
    margin: 0;
}

.insetinfo{
    color: white;
    margin: 0;
    margin: 5px, 0, 5px, 0
}

button.duck{
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 12px;
}

.header2{
   text-align: center;
   font-size: 36px;
   color: #1f2937;
   font-weight: bolder;
}

.picsandsubtext{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    gap: 10px;
    text-align: center;
    flex: 1;
}

.ddg{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.yahoo{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 0;
}

.askjeeves{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.google{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

